{% extends 'base.html.twig' %}

{% block title %}TipoPerArma{% endblock %}

{% block body %}
    <h1>TipoPerArma</h1>
        <div class="container">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo_per_arma in tipo_per_armas %}
            <tr>
                <td>{{ tipo_per_arma.id }}</td>
                <td>{{ tipo_per_arma.descripcion }}</td>
                <td>
                    <a href="{{ path('tipo_per_arma_show', {'id': tipo_per_arma.id}) }}">show</a>
                    <a href="{{ path('tipo_per_arma_edit', {'id': tipo_per_arma.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tipo_per_arma_new') }}">Create new</a>
{% endblock %}
