{% extends 'base.html.twig' %}

{% block title %}TipoPerArma{% endblock %}

{% block body %}
    <h1>TipoPerArma</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipo_per_arma.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ tipo_per_arma.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tipo_per_arma_index') }}">back to list</a>

    <a href="{{ path('tipo_per_arma_edit', {'id': tipo_per_arma.id}) }}">edit</a>

    {{ include('tipo_per_arma/_delete_form.html.twig') }}
{% endblock %}
