{% extends 'base.html.twig' %}

{% block title %}TipoEspacio index{% endblock %}

{% block body %}
    <h1>TipoEspacio</h1>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo_espacio in tipo_espacios %}
            <tr>
                <td>{{ tipo_espacio.id }}</td>
                <td>{{ tipo_espacio.descripcion }}</td>
                <td>
                    <a href="{{ path('tipo_espacio_show', {'id': tipo_espacio.id}) }}">show</a>
                    <a href="{{ path('tipo_espacio_edit', {'id': tipo_espacio.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tipo_espacio_new') }}">Create new</a>
{% endblock %}
