{% extends "reportes/baseRepo.html.twig" %}
{% block title %}Reportes femicidios{% endblock %}


{% block reporte %}
<div class="container">
    <div class="table table-responsive">
    <caption class="text-justify" > <h3>Informe sobre femicidios</h3>  
      {{ fecha_desde | fechaCorta }} hasta {{ fecha_hasta | fechaCorta }}</caption>
        <table class="table table-hover">
            
            <thead>
                <tr>
                    <th>femicidio</th>
                    <th>victima</th>
                    <th>overkill</th>

                
                </tr>
            </thead>
            <tbody>
                {% for fila in datos %}
                <tr>
                    <td>{{ fila.femicidio }}</td>
                    <td>{{ fila.victima  }}</td>
                    <td>{{ fila.overkill  }}</td>

                
                </tr>
                {% else %}
                <tr><td>No hay resultados disponibles...</td></tr>
                {% endfor %}
            </tbody>
        </table>
      
    </div>
</div>
{% endblock %}
{% block body %}
    {% set path_excel = "" %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
<script>
    $(document).ready(function(){
        $('#imprimir').on('click', function(e){
            e.preventDefault();
            window.print();
        });

</script>
{% endblock %}