{% extends "reportes/baseRepo.html.twig" %}
{% block title %}Reportes femicidios{% endblock %}


{% block reporte %}
<div class="container-fluid">
    <div class="table table-responsive">
    <caption class="text-justify" > <h4>Informe sobre femicidios(Genero, generoOtro, edad, edad legal, estado civil)</h4>  
      {{ fecha_desde | fechaCorta }} hasta {{ fecha_hasta | fechaCorta }}</caption>

                             <table class="table table-hover">
            
                                                        <thead style="background-color: #a4eaec;">
                                                            <tr>
                                                                
                                                                <th>presAutor</th>
                                                                <th>victima</th>
                                                                <th>hecho</th>
                                                                <th>sexo</th>
                                                                <th>genero</th>
                                                                <th>genetoOtro</th>
                                                                <th>edad</th>
                                                                <th>edadLegal</th>
                                                                <th>estado_civil</th>
                                                                <th>tipoFemicidio</th>
                                                                <th>anio</th>
                                                                                                                            
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for fila in datos %}
                                                            <tr>
                                                               
                                                                <td>{{ fila.presAutor }}</td>
                                                              
                                                                <td>{{ fila.victima  }}</td>
                                                                <td>{{ fila.hecho  }}</td>

                                                                <td>{{ fila.sexo  }}</td>

                                                                <td>{{ fila.genero  }}</td>
                                                                <td>{{ fila.genetoOtro  }}</td>
                                                                <td>{{ fila.edad  }}</td>
                                                                <td>{{ fila.edadLegal  }}</td>
                                                                <td>{{ fila.estado_civil  }}</td>
                                                                <td>{{ fila.tipoFemicidio  }}</td>
                                                                <td>{{ fila.anio  }}</td>
                                          
                                                            </tr>
                                                            {% else %}
                                                            <tr><td>No hay resultados disponibles...</td></tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
       
      
    </div>
</div>
{% endblock %}
{% block body %}
    {% set path_excel = "femicidioReportes" %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}

</script>
{% endblock %}