{% extends "reportes/baseRepo.html.twig" %}
{% block title %}Reportes femicidios{% endblock %}


{% block reporte %}
<div class="container-fluid">
    <div class="table table-responsive">
    <caption class="text-justify" > <h4>Informe sobre femicidios(Mecanimos de muerte/Tipo de arma/Fuerza de Seguridad......)</h4>  
      {{ fecha_desde | fechaCorta }} hasta {{ fecha_hasta | fechaCorta }}</caption>

                             <table class="table table-hover">
            
                                                        <thead style="background-color: #a4eaec;">
                                                            <tr>
                                                                <th>presAutor</th>
                                                                <th>victima</th>
                                                                <th>hechoId</th>
                                                                <th>tipoFemicidio</th>
                                                                <th>mecanismoMuerte</th>
                                                                <th>mecanismoMuerteOtro</th>
                                                                <th>tipoArma</th>
                                                                <th>tipoArmaOtro</th>
                                                                <th>fuerzaSeguridad</th>
                                                                <th>fuerzaDescripcion</th>
                                                                <th>otraFuerzaDescripcion</th>
                                                                <th>estadoPolicial</th>
                                                                <th>funcionEjercicio</th>
                                                                <th>medidaProteccion</th>
                                                                <th>medidaProteccionEspec</th>
                                                                <th>overkill</th>
                                                                <th>estadoIntox</th>
                                                                <th>estadoIntoxDesc</th>
                                                                <th>estadoIntoxOtro</th>
                                                                <th>desapAntesHecho</th>
                                                                <th>anio</th>
                                                                                                                            
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for fila in datos %}
                                                            <tr>
                                                                <td>{{ fila.presAutor }}</td>
                                                                <td>{{ fila.victima }}</td>
                                                                <td>{{ fila.hecho  }}</td>
                                                                <td>{{ fila.tipoFemicidio  }}</td>
                                                                <td>{{ fila.mecanismoMuerte  }}</td>
                                                                <td>{{ fila.mecanismoMuerteOtro  }}</td>
                                                                <td>{{ fila.tipoArma  }}</td>
                                                                <td>{{ fila.tipoArmaOtro  }}</td>
                                                                <td>{{ fila.fuerzaSeguridad  }}</td>
                                                                <td>{{ fila.fuerzaDescripcion  }}</td>
                                                                <td>{{ fila.otraFuerzaDescripcion  }}</td>
                                                                <td>{{ fila.estadoPolicial  }}</td>
                                                                <td>{{ fila.funcionEjercicio  }}</td>
                                                                <td>{{ fila.medidaProteccion  }}</td>
                                                                <td>{{ fila.medidaProteccionEspec  }}</td>
                                                                <td>{{ fila.overkill  }}</td>
                                                                <td>{{ fila.estadoIntox  }}</td>
                                                                <td>{{ fila.estadoIntoxDesc  }}</td>
                                                                <td>{{ fila.estadoIntoxOtro  }}</td>

                                                                <td>{{ fila.desapAntesHecho  }}</td>
                                                                <td>{{ fila.anio  }}</td>
                                                            
                                                            </tr>
                                                            {% else %}
                                                            <tr><td>No hay resultados disponibles...</td></tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
       
      
    </div>
</div>
{% endblock %}
{% block body %}
    {% set path_excel = "" %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
<script>
    $(document).ready(function(){
        $('#imprimir').on('click', function(e){
            e.preventDefault();
            window.print();
        });

</script>
{% endblock %}