{% extends "reportes/baseRepo.html.twig" %}
{% block title %}Reportes femicidios{% endblock %}


{% block reporte %}
<div class="container-fluid">
    <div class="table table-responsive">
    <caption class="text-justify" > <h4>Informe sobre femicidios(contexto femicidio y tipo femicidio )</h4>  
      {{ fecha_desde | fechaCorta }} hasta {{ fecha_hasta | fechaCorta }}</caption>

                             <table class="table table-hover">
            
                                                        <thead style="background-color: #a4eaec;">
                                                            <tr>
                                                                <th>presAutor</th>
                                                                <th>victima</th>
                                                                <th>hecho</th>
                                                                <th>contextoFemicida</th>
                                                                <th>tipoFemicicio</th>
                                                                <th>ocasionDelito</th>
                                                                <th>ocaDelitoOtro</th>
                                                                <th>cantVicColateral</th>

                                                                <th>anio</th>
                                                               
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for fila in datos %}
                                                            <tr>
                                                                <td>{{ fila.presAutor  }}</td>
                                                                <td>{{ fila.victima  }}</td>
                                                                <td>{{ fila.hecho  }}</td>
                                                                <td>{{ fila.contextoFemicida  }}</td>
                                                                <td>{{ fila.tipoFemicicio  }}</td>
                                                                <td>{{ fila.ocasionDelito  }}</td>
                                                                <td>{{ fila.ocaDelitoOtro  }}</td>
                                                                <td>{{ fila.victimasColateral  }}</td>
                                                                
                                                                <td>{{ fila.anio  }}</td>
                                                            
                                                            </tr>
                                                            {% else %}
                                                            <tr><td>No hay resultados disponibles...</td></tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
       
      
    </div>
</div>
{% endblock %}
{% block body %}
    {% set path_excel = "" %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
<script>
    $(document).ready(function(){
        $('#imprimir').on('click', function(e){
            e.preventDefault();
            window.print();
        });

</script>
{% endblock %}