{% extends "reportes/baseRepo.html.twig" %}
{% block title %}Reportes femicidios{% endblock %}


{% block reporte %}
<div class="container-fluid">
    <div class="table table-responsive">
    <caption class="text-justify" > <h3>Informe sobre femicidios(Vinculo con presunto autores, convivencia, overkill)</h3>  
      {{ fecha_desde | fechaCorta }} hasta {{ fecha_hasta | fechaCorta }}</caption>

                             <table class="table table-hover">
            
                                                        <thead style="background-color: #a4eaec;">
                                                            <tr>
                                                                
                                                                <th>Hecho</th>
                                                                <th>victimaId</th>
                                                                <th>Sexo</th>
                                                                <th>Femicidio</th>
                                                                <th>TipoFemicidio</th>
                                                                <th>Domicilio</th>
                                                                <th>Vinculo</th>
                                                                <th>TipoVinculo</th>
                                                                <th>TipoVinculoOtro</th>
                                                                <th>Conviviente</th>
                                                                <th>Overkill</th>
                                                                <th>Departamento</th>
                                                                <th>Localidad</th>
                                                                
                                                                <th>Fecha</th>

                                                            
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for fila in datos %}
                                                            <tr>
                                                               
                                                                <td>{{ fila.hecho }}</td>
                                                                <td class="text-info"><a href="{{ path('victima_show', { 'id': fila.victima  } ) }}">{{fila.victima }}</a></td>
                                                               
                                                                <td>{{ fila.sexo  }}</td>
                                                                <td>{{ fila.femicidio  }}</td>

                                                                <td>{{ fila.tipoFemicidio  }}</td>

                                                                <td>{{ fila.domicilio  }}</td>
                                                                <td>{{ fila.vinculo  }}</td>
                                                                <td>{{ fila.vinculoTipo  }}</td>
                                                                <td>{{ fila.vinculoTipoOtro  }}</td>
                                                                <td>{{ fila.conviviente  }}</td>
                                                                
                                                                <td>{{ fila.overkill  }}</td>
                                                                <td>{{ fila.departamento  }}</td>
                                                                <td>{{ fila.localidad  }}</td>

                                                                <td>{{ fila.fecha  }}</td>


                                                            
                                                            </tr>
                                                            {% else %}
                                                            <tr><td>No hay resultados disponibles...</td></tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
       
      
    </div>
</div>
{% endblock %}
{% block body %}
    {% set path_excel = "femicidioReportes" %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}

</script>
{% endblock %}