{% extends "reportes/baseRepo.html.twig" %}
{% block title %}Reportes{% endblock %}


{% block reporte %}
<div class="container-fluid">
  <div class="table table-responsive">
    <caption class="text-justify" > <h3>Distribución de hechos espacial</h3>  
      {{ fecha_desde | fechaCorta }} hasta {{ fecha_hasta | fechaCorta }}</caption>
        
    
 
        <div class="row">
            <div class="col">
                    <table class="table table-hover">
                        
                        <thead style="background-color: #EADBF6;">
                            <tr>
                                <th><strong>Distribución de hechos por zona </strong></th>
                                <th><strong>Cantidad </strong></th>          
                            </tr>
                        </thead>
                        <tbody>
                            {% set sum = 0%}
                            {% for fila in datos %}
                            {% set sum = sum + fila.cantidad %}
                        
                            <tr>
                                <td>{{ fila.descripcion }}</td>
                                <td>{{ fila.cantidad  }}</td>
                            
                                        
                            </tr>
                        
                            {% else %}
                            <tr><td>No hay resultados disponibles...</td></tr>
                            {% endfor %}
                            <tr>
                                <td style="background-color: lightblue;"><strong>Total</strong></td>
                                <td style="background-color: lightblue;"><strong>{{ sum  }}</strong></td>
                            
                            </tr>
                    
                        </tbody>
                    </table>

            </div>
            <div class="col">
                    <table class="table table-hover">
                        
                        <thead style="background-color: #EADBF6;">
                            <tr>
                                <th><strong>Distribución de hechos por acceso</strong></th>
                                <th><strong>Cantidad</strong></th>          
                            </tr>
                        </thead>
                        <tbody>
                            {% set sum2 = 0%}
                            {% for fila in datos2 %}
                            {% set sum2 = sum2 + fila.cantidad %}
                        
                            <tr>
                                <td>{{ fila.descripcion }}</td>
                                <td>{{ fila.cantidad  }}</td>
                            
                                        
                            </tr>
                        
                            {% else %}
                            <tr><td>No hay resultados disponibles...</td></tr>
                            {% endfor %}
                            <tr>
                                <td style="background-color: lightblue;"><strong>Total</strong></td>
                                <td style="background-color: lightblue;"><strong>{{ sum2  }}</strong></td>
                            
                            </tr>
                    
                        </tbody>
                    </table>
            </div>
            <div class="col">
                    <table class="table table-hover">
                        
                        <thead style="background-color: #EADBF6;">
                            <tr>
                                <th><strong>Distribución de hechos por acceso</strong></th>
                                <th><strong>Cantidad</strong></th>          
                            </tr>
                        </thead>
                        <tbody>
                            {% set sum3 = 0%}
                            {% for fila in datos3 %}
                            {% set sum3 = sum3 + fila.cantidad %}
                        
                            <tr>
                                <td>{{ fila.descripcion }}</td>
                                <td>{{ fila.cantidad  }}</td>
                            
                                        
                            </tr>
                        
                            {% else %}
                            <tr><td>No hay resultados disponibles...</td></tr>
                            {% endfor %}
                            <tr>
                                <td style="background-color: lightblue;"><strong>Total</strong></td>
                                <td style="background-color: lightblue;"><strong>{{ sum3  }}</strong></td>
                            
                            </tr>
                    
                        </tbody>
                    </table>
             </div>
            </div>
    </div>

</div>   
   




{# segunda parte#}



<div class="container-fluid">
  <div class="table table-responsive">
        <div class="row">
                    <div class="col">
                            <table class="table table-hover">
                                
                                <thead style="background-color: #DFF6DD ;">
                                    <tr>
                                        <th><strong>Distribución de hechos por zona </strong></th>
                                        <th><strong>Cantidad </strong></th>          
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set sum4 = 0%}
                                    {% for fila in datos4 %}
                                    {% set sum4 = sum4 + fila.cantidad %}
                                
                                    <tr>
                                        <td>{{ fila.descripcion }}</td>
                                        <td>{{ fila.cantidad  }}</td>
                                    
                                                
                                    </tr>
                                
                                    {% else %}
                                    <tr><td>No hay resultados disponibles...</td></tr>
                                    {% endfor %}
                                    <tr>
                                        <td style="background-color: lavender;"><strong>Total</strong></td>
                                        <td style="background-color: lavender;"><strong>{{ sum4  }}</strong></td>
                                    
                                    </tr>
                            
                                </tbody>
                            </table>

                    </div>
                    <div class="col">
                            <table class="table table-hover">
                                
                                <thead style="background-color: #DFF6DD;">
                                    <tr>
                                        <th><strong>Distribución de hechos por acceso</strong></th>
                                        <th><strong>Cantidad</strong></th>          
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set sum5 = 0%}
                                    {% for fila in datos5 %}
                                    {% set sum5 = sum5 + fila.cantidad %}
                                
                                    <tr>
                                        <td>{{ fila.descripcion }}</td>
                                        <td>{{ fila.cantidad  }}</td>
                                    
                                                
                                    </tr>
                                
                                    {% else %}
                                    <tr><td>No hay resultados disponibles...</td></tr>
                                    {% endfor %}
                                    <tr>
                                        <td style="background-color: lavender;"><strong>Total</strong></td>
                                        <td style="background-color: lavender;"><strong>{{ sum5  }}</strong></td>
                                    
                                    </tr>
                            
                                </tbody>
                            </table>
                    </div>
                    <div class="col">
                            <table class="table table-hover">
                                
                                <thead style="background-color: #DFF6DD;">
                                    <tr>
                                        <th><strong>Distribución de hechos por acceso</strong></th>
                                        <th><strong>Cantidad</strong></th>          
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set sum6 = 0%}
                                    {% for fila in datos6 %}
                                    {% set sum6 = sum6 + fila.cantidad %}
                                
                                    <tr>
                                        <td>{{ fila.descripcion }}</td>
                                        <td>{{ fila.cantidad  }}</td>
                                    
                                                
                                    </tr>
                                
                                    {% else %}
                                    <tr><td>No hay resultados disponibles...</td></tr>
                                    {% endfor %}
                                    <tr>
                                        <td style="background-color: lavender;"><strong>Total</strong></td>
                                        <td style="background-color: lavender;"><strong>{{ sum6  }}</strong></td>
                                    
                                    </tr>
                            
                                </tbody>
                            </table>
                    </div>
                    </div>
            
            </div>
        </div>
   </div>

</div>













{% endblock %}
{% block body %}
    {% set path_excel = "" %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
<script>
    $(document).ready(function(){
        $('#imprimir').on('click', function(e){
            e.preventDefault();
            window.print();
        });

</script>
{% endblock %}