{% extends "base.html.twig" %}

{% block title %}Reportes{% endblock %}



{% block body %}
{{ parent() }}

<div class="container-fluid">



    <div class="jumbotron">
        <h2 class="text-muted">Reportes</h2>
        <p> </p>

                   
        <div class="row">
                <div class="col-lg-3" style="background-color:">
                </div>

                <div class="col-lg-6">
                      <div class="btn-group">
                         <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-md dropdown-toggle" data-toggle="dropdown">
                                
                                Hechos
                                </button>
                                <div class="dropdown-menu">
                                
                                    <a class="dropdown-item" href="{{ path('hechos_por_tipologia') }}">Hechos por tipología</a>
                                    <a class="dropdown-item" href="{{ path('hechos_por_localidad') }}">Distribución de hechos por localidad</a>
                                    <a class="dropdown-item" href="{{ path('hechos_por_departamento') }}">Distribución de hechos por departamento</a>
                                    <a class="dropdown-item" href="{{ path('hechos_por_rango_horario_tres') }}">Distribución de hechos por rango horario</a>
                                    <a class="dropdown-item" href="{{ path('hechos_por_dia_mes') }}">Distribución de hechos por mes y día</a>
                                    <a class="dropdown-item" href="{{ path('hechos_en_ocasion_otro_delito') }}">Distribución de homicidio en ocasión de otro delito</a>
                                    
                                     <a class="dropdown-item" href="{{ path('hechos_espacial') }}">Distribución de hechos por espaio</a>
                                    
                                    <a class="dropdown-item" href="#">Distribución de hechos por.......</a>

                                </div>
                            </div>


                             <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-md dropdown-toggle" data-toggle="dropdown">
                                
                                Femicidios
                                </button>
                                <div class="dropdown-menu">
                                
                                    <a class="dropdown-item" href="{{ path('femicidios') }}"> Información sobre femicidios</a>
                                   

                                </div>
                            </div>


                                 <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-md dropdown-toggle" data-toggle="dropdown">
                                
                                Presuntos Autores
                                </button>
                                <div class="dropdown-menu">
                                
                                    <a class="dropdown-item" href="{{ path('hechos_por_tipologia') }}">Hechos por tipología</a>
                                    
                                   
                                    
                                  

                                </div>
                            </div>


                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-md  dropdown-toggle" data-toggle="dropdown">
                                Víctimas
                                </button>
                                <div class="dropdown-menu">
                                
                                    <a class="dropdown-item" href="{{ path('victimas_reportes') }}">Victimas de víctimas por departamento</a>
                                    <a class="dropdown-item" href="{{ path('victimas_por_localidad') }}">Distribución de víctimas por localidad</a>
                                    <a class="dropdown-item" href="{{ path('victimas_por_rango_etario') }}">Distribución de víctimas por rango etario</a>
                                    <a class="dropdown-item" href="{{ path('victimas_por_edad_legal') }}">Distribución de víctimas por edad legal</a>
                                    <a class="dropdown-item" href="{{ path('victimas_por_dia_mes') }}">Distribución de víctimas día y mes</a>
                                    <a class="dropdown-item" href="{{ path('victimas_por_sexo_genero') }}">Distribución de víctimas sexo y género</a>
                                    
                                    <a class="dropdown-item" href="{{ path('victimas_por_mecanismo') }}">Distribución de víctimas por mecanismo de muerte</a>
                                    <a class="dropdown-item" href="{{ path('victimas_por_clase') }}">Distribución de víctimas por clase</a>
                                    
                                    <a class="dropdown-item" href="#">Distribución de víctimas por......</a>

                                </div>
                            </div>
                        </div>
                </div>

                <div class="col-lg-3" style="background-color:">
                </div>
        </div>



        
    </div>
    
</div>
 
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
<script>
    $(document).ready(function(){
        $('#imprimir').on('click', function(e){
            e.preventDefault();
            window.print();
        });

        $(".btn-group").button("toggle");

</script>
{% endblock %}

   