{% extends "base.html.twig" %}

{% block title %}Reportes{% endblock %}



{% block body %}
{{ parent() }}

<div class="container-fluid">



    <div class="jumbotron">
        <h2 class="text-justify">Reportes</h2>
        <p> </p>

                   
        <div class="row">
                <div class="col" style="background-color:">
                </div>

                <div class="col">
                      <div class="btn-group">
                         <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Hechos
                                </button>
                                <div class="dropdown-menu">
                                
                                    <a class="dropdown-item" href="{{ path('hechos_por_tipologia') }}">Hechos por tipología</a>
                                    <a class="dropdown-item" href="{{ path('hechos_por_localidad') }}">Distribución de hechos por localidad</a>
                                    <a class="dropdown-item" href="#">Distribución de homicidio en ocasión de otro delito</a>
                                    <a class="dropdown-item" href="#">Distribución de hechos por ...</a>
                                    
                                    <a class="dropdown-item" href="#">Distribución de víctimas por rango etario</a>

                                </div>
                            </div>
                            <button type="button" class="btn btn-primary">Femicidios</button>
                            <button type="button" class="btn btn-primary">Presuntos Autores</button>

                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Víctimas
                                </button>
                                <div class="dropdown-menu">
                                
                                    <a class="dropdown-item" href="{{ path('victimas_reportes') }}">Victimas de víctimas por Departamento</a>
                                    <a class="dropdown-item" href="{{ path('victimas_por_localidad') }}">Distribución de víctimas por localidad</a>
                                    <a class="dropdown-item" href="#">Distribución de víctimas por rango etario</a>
                                    <a class="dropdown-item" href="#">Distribución de víctimas por mes</a>
                                    
                                    <a class="dropdown-item" href="#">Distribución de víctimas por rango etario</a>

                                </div>
                            </div>
                        </div>
                </div>

                <div class="col" style="background-color:">
                </div>
        </div>



        
    </div>
    
</div>
 
{% endblock %}

   