{% extends "base.html.twig" %}

{% block title %}Reportes{% endblock %}



{% block body %}
{{ parent() }}

<div class="container-fluid">



    <div class="jumbotron">
        <h2 class="text-muted">Reportes</h2>
        <p> </p>

                   
        <div class="row">
                <div class="col-lg-3" style="background-color:">
                </div>

                <div class="col-lg-6">
                      <div class="btn-group">
                         <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-md dropdown-toggle" data-toggle="dropdown">
                                
                                Hechos
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('hecho_info') }}" target="_blank">Hechos sin detalle</a>
                                    <a class="dropdown-item" href="{{ path('detalle_hecho_info') }}" target="_blank">Detalle de los hechos</a>
                                
                                    <a class="dropdown-item" href="{{ path('hechos_por_tipologia') }}" target="_blank">Hechos por tipología</a>
                                    <a class="dropdown-item" href="{{ path('hechos_por_localidad') }}" target="_blank">Distribución de hechos por localidad</a>
                                    <a class="dropdown-item" href="{{ path('hechos_por_departamento') }}" target="_blank">Distribución de hechos por departamento</a>
                                    <a class="dropdown-item" href="{{ path('hechos_por_rango_horario_tres') }}" target="_blank">Distribución de hechos por rango horario</a>
                                    <a class="dropdown-item" href="{{ path('hechos_por_dia_mes') }}" target="_blank">Distribución de hechos por mes y día</a>
                                    <a class="dropdown-item" href="{{ path('hechos_en_ocasion_otro_delito') }}" target="_blank">Distribución de homicidio en ocasión de otro delito</a>
                                    
                                     <a class="dropdown-item" href="{{ path('hechos_espacial') }}" target="_blank">Distribución de hechos por espacio de ocurrencia</a>
                                   

                                </div>
                            </div>


                             <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-md dropdown-toggle" data-toggle="dropdown">
                                
                                Femicidios
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('femicidio_depto_loc') }}" target="_blank"> Femicidio por departamento - localidad</a>
                                    <a class="dropdown-item" href="{{ path('femicidio_r_etario_e_legal') }}" target="_blank"> Femicidio por rango etario - edad legal</a>
                                    <a class="dropdown-item" href="{{ path('femicidio_sit_socio') }}" target="_blank"> Femicidio - Informe sobre (Situación Socio-económica)</a>
                                    <a class="dropdown-item" href="{{ path('femicidios') }}" target="_blank"> Femicidio - Informe sobre (Género/Rango etario/ Edad legal) </a>
                                    <a class="dropdown-item" href="{{ path('femicidio_tiempo') }}" target="_blank"> Femicidio - Informe sobre (Distribución temporal) </a>
                                    <a class="dropdown-item" href="{{ path('femicidio_vinc_autor') }}" target="_blank"> Femicidio - Informe sobre (Vinculo/Denuncias previas/Convivencia/Uso de Arma/Ext intox autor/Comp autor hecho)</a>
                                    <a class="dropdown-item" href="{{ path('femicidio_contexto') }}" target="_blank"> Femicidio - Informe sobre (Tipo femicidio/ Contexto)</a>
                                    <a class="dropdown-item" href="{{ path('femicidio_espacio') }}" target="_blank"> Femicidio - Informe sobre femicidios( Dept/Loc/GRcia/Zona/Espacio/Tipo de lugar/Acceso/Domicilio)</a>
                                    <a class="dropdown-item" href="{{ path('femicidio_mecanismo') }}" target="_blank"> Femicidio - Informe sobre (Mecanimos de muerte/Tipo de arma/Fuerza de Seguridad) </a>


                                    
                                   

                                </div>
                            </div>


                                 <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-md dropdown-toggle" data-toggle="dropdown">
                                
                                Presuntos Autores
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('pres_autor_info') }}" target="_blank">PresAutores información general</a>
                                
                                    <a class="dropdown-item" href="{{ path('pres_autor_por_sexo_genero') }}" target="_blank">PresAutores por sexo y género</a>
                                    <a class="dropdown-item" href="{{ path('autores_por_departamento_localidad') }}" target="_blank">PresAutores por ublicación geográfica</a>
                                    <a class="dropdown-item" href="{{ path('autores_por_rango_etario_edad_legal') }}" target="_blank">PresAutores por rango etario y edad legal</a>
                                    
                                   
                                    
                                  

                                </div>
                            </div>


                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-md  dropdown-toggle" data-toggle="dropdown">
                                Víctimas
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{{ path('victima_info_general') }}">Victimas Información Personal y Situación socio/económica</a>
                                
                                    <a class="dropdown-item" href="{{ path('victima_info_mecanismo') }}">Victimas Información Sobre mecanismo de muerte</a>

                                    <a class="dropdown-item" href="{{ path('victimas_reportes') }}">Distribución de víctimas por departamento</a>
                                    <a class="dropdown-item" href="{{ path('victimas_por_localidad') }}">Distribución de víctimas por localidad</a>
                                    <a class="dropdown-item" href="{{ path('victimas_por_rango_etario') }}">Distribución de víctimas por rango etario</a>
                                    <a class="dropdown-item" href="{{ path('victimas_por_edad_legal') }}">Distribución de víctimas por edad legal</a>
                                    <a class="dropdown-item" href="{{ path('victimas_por_dia_mes') }}">Distribución de víctimas día y mes</a>
                                    <a class="dropdown-item" href="{{ path('victimas_por_sexo_genero') }}">Distribución de víctimas sexo y género</a>
                                    
                                    <a class="dropdown-item" href="{{ path('victimas_por_mecanismo') }}">Distribución de víctimas por mecanismo de muerte</a>
                                    <a class="dropdown-item" href="{{ path('victimas_por_clase') }}">Distribución de víctimas por clase</a>
                                    
                                    <a class="dropdown-item" href="{{ path('vinculos_reportes') }}">Información de víctimas sobre vínculos con autores</a>

                                </div>
                            </div>
                        </div>
                </div>

                <div class="col-lg-3" style="background-color:">
                </div>
        </div>



        
    </div>
    
</div>
 
{% endblock %}

{% block javascripts %}
{{ parent() }}

<script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
<script>
    $(document).ready(function(){
        $('#imprimir').on('click', function(e){
            e.preventDefault();
            window.print();
        });

        $(".btn-group").button("toggle");

</script>
{% endblock %}

   