{% extends 'base.html.twig' %}

{% block title %}TipoFemicidio{% endblock %}

{% block body %}
    <h1>TipoFemicidio</h1>
        <div class="container">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipo_femicidio in tipo_femicidios %}
            <tr>
                <td>{{ tipo_femicidio.id }}</td>
                <td>{{ tipo_femicidio.descripcion }}</td>
                <td>
                    <a href="{{ path('tipo_femicidio_show', {'id': tipo_femicidio.id}) }}">show</a>
                    <a href="{{ path('tipo_femicidio_edit', {'id': tipo_femicidio.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tipo_femicidio_new') }}">Create new</a>
{% endblock %}
