{% extends 'base.html.twig' %}

{% block title %}RepGeografica{% endblock %}

{% block body %}
    <h1>RepGeografica</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rep_geografica.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ rep_geografica.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('rep_geografica_index') }}">back to list</a>

    <a href="{{ path('rep_geografica_edit', {'id': rep_geografica.id}) }}">edit</a>

    {{ include('rep_geografica/_delete_form.html.twig') }}
{% endblock %}
