{% extends 'base.html.twig' %}

{% block title %}Comisaria index{% endblock %}

{% block body %}{{ parent() }}
    
<div class="container">
<h3>Lista de comisarias</h3>
    <div class="table-responsive">
        <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Calle</th>
                        <th>Altura</th>
                        <th>acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for comisarium in comisarias %}
                    <tr>
                        <td>{{ comisarium.id }}</td>
                        <td>{{ comisarium.nombre }}</td>
                        <td>{{ comisarium.calle }}</td>
                        <td>{{ comisarium.altura }}</td>
                        <td>
                    
                            <a href="{{ path('comisaria_edit', {'id': comisarium.id}) }}">editar</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

    <button type="button" class="btn btn-link"><a href="{{ path('comisaria_new') }}">Crear</a></button>
    </div>
 </div>   
{% endblock %}
