{% extends 'base.html.twig' %}

{% block title %}Zona {% endblock %}

{% block body %}
    <h1>Zona </h1>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for zona in zonas %}
            <tr>
                <td>{{ zona.id }}</td>
                <td>{{ zona.descripcion }}</td>
                <td>
                    <a href="{{ path('zona_show', {'id': zona.id}) }}">show</a>
                    <a href="{{ path('zona_edit', {'id': zona.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('zona_new') }}">Crear</a>
    </div>
{% endblock %}
