{% extends 'base.html.twig' %}

{% block title %}Editar Hecho{% endblock %}

{% block body %}
    {{ parent() }}

    {{ include('hecho/_form.html.twig', {'button_label': 'Update'}) }}
<div class="container"style="padding: 10px 0px 30px 10px;">
    <a href="{{ path('hecho_index') }}" class="btn btn-info btn-sm" alt="Volver">
                        <span class="glyphicon glyphicon-step-backward"></span> Volver</a>
</div>
    


    {#{{ include('hecho/_delete_form.html.twig') }}#}
{% endblock %}
 {% block footer %}

  <footer class="py-4 bg-dark">
           <div class="container px-5"><p class="sm-5 text-center text-white">Centro de Analisis Chaco - {{ "now"|date("Y") }}</p></div>
        </footer>
 {% endblock %}