{#{% extends 'base.html.twig' %}

{% block title %}New Hecho{% endblock %}

{% block body %}
    <h1>Create new Hecho</h1>

    {{ include('hecho/_form.html.twig') }}

    <a href="{{ path('hecho_index') }}">back to list</a>
{% endblock %}
#}
{% extends 'base.html.twig' %}

{% block title %}Hechos{% endblock %}

 {% block stylesheets %} {{ parent() }}
 {% endblock %}

{% block body %}{{ parent() }}


<h1>Nuevo Hecho</h1>
<div class="container">

     {{form_start(form)}}
     
   
            
            <div class="" id="hecho_list" data-prototype="{{form_widget(form.detalleHechos.vars.prototype)|e('html_attr') }}"
                {% for row in form.detalleHechos %}    


              


                   <div class="card">
                        <div class="card-header"> 
                            <strong>Nro hecho: {{(row.vars.value.id)}}</strong> 
                        </div>
                        <div class="card-body">
                           
                           {{ form_row(row)}}

                        </div>
                  </div>
               {% endfor %}

     

 
{{ form_end(form) }}

<a href="{{ path('hecho_index') }}">back to list</a>
</div>
{% endblock %}





{% block javascript %} {{ parent() }}
 <script src="{{ asset('js/app.js') }}"> </script>
 

 {% endblock %}
 

 {% block footer %}

  <footer class="py-4 bg-dark">
 
            <div class="container px-5"><p class="sm-5 text-center text-white">Centro de Analisis Chaco - {{ "now"|date("Y") }}</p></div>
        </footer>
 {% endblock %}