{#{% extends 'base.html.twig' %}

{% block title %}New Hecho{% endblock %}

{% block body %}
    <h1>Create new Hecho</h1>

    {{ include('hecho/_form.html.twig') }}

    <a href="{{ path('hecho_index') }}">back to list</a>
{% endblock %}
#}
{% extends 'base.html.twig' %}

{% block title %}Hechos{% endblock %}

 {% block stylesheets %} {{ parent() }}

 {% endblock %}

{% block body %}{{ parent() }}

<h3 class="display-5"><p class="text-center">Crear nuevo sssshecho</p></h3>
 {{ include('hecho/_form.html.twig') }}

<div class="container"style="padding: 10px 0px 30px 10px;">
    <a href="{{ path('hecho_index') }}" class="btn btn-info btn-sm" alt="Volver">
                        <span class="glyphicon glyphicon-step-backward"></span> Volver</a>
</div>
{% endblock %}

{% block javascripts %} {{ parent() }}
<script>
    $(document).ready(function () {
            $('#hecho_fecha').change(function () {
                extraer = $('#hecho_fecha').val(); //el formato de fecha es aaaa-mm-dd
                $fechaAnio = extraer.substring(0,4); //por eso 0 a la izq. y 4 a la der.
                $fechaMes = parseInt(extraer.substring(5, 7));
               

                $('#hecho_anio').val($fechaAnio);

                var mesesLetra = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
                var mesLetra = mesesLetra[$fechaMes - 1];

                 //calculo mes
                $('#hecho_mes').val(mesLetra);
              
                 
                // calculo dia
                let dias = ["Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado","Domingo"];
                let date  = new Date(document.getElementById("hecho_fecha").value);

                let fechaNum = date.getUTCDate();
                $('#hecho_dia_ocu').val(dias[date.getDay()]);
             
            });
        });

    $(document).ready(function () {
    $('#hecho_hora_ocu_hour').change(function () {
    obtieneHora = $('#hecho_hora_ocu_hour').val(); //obtiene el valor hora 
    //console.log(obtieneHora);
         
    switch (true) {
                          
            case obtieneHora >= 0 && obtieneHora < 6 :
                $('#hecho_franja_h_seis').val('00:00 - 05:59');
                break;
            case obtieneHora >= 6 && obtieneHora < 12 :
                $('#hecho_franja_h_seis').val('06:00 - 11:59');
                break;
            case obtieneHora >= 12 && obtieneHora < 18 :
                $('#hecho_franja_h_seis').val('12:00 - 17:59');
                break;
            case obtieneHora >= 18 && obtieneHora <= 23 :
                $('#hecho_franja_h_seis').val('18:00 - 23:59');
                break;
            default:
                $('#hecho_franja_h_seis').val('Sin determinar');
        }
           
          });
    });


         $(document).ready(function () {
            $('#hecho_hora_ocu_hour').change(function () {
                obtieneHora3 = $('#hecho_hora_ocu_hour').val(); //obtiene el valor hora 
                     
        switch (true) {
                          
            case obtieneHora3 >= 0 && obtieneHora3 < 3 :
                $('#hecho_franja_h_tres').val('00:00 - 02:59');
                break;
            case obtieneHora3 >= 3 && obtieneHora3 < 6 :
                $('#hecho_franja_h_tres').val('03:00 - 05:59');
                break;
            case obtieneHora3 >= 6 && obtieneHora3 < 9 :
                $('#hecho_franja_h_tres').val('06:00 - 08:59');
                break;
            case obtieneHora3 >= 9 && obtieneHora3 < 12 :
                $('#hecho_franja_h_tres').val('09:00 - 11:59');
                break;
                 case obtieneHora3 >= 12 && obtieneHora3 < 15 :
                $('#hecho_franja_h_tres').val('12:00 - 14:59');
                break;
            case obtieneHora3 >= 15 && obtieneHora3 < 18 :
                $('#hecho_franja_h_tres').val('15:00 - 17:59');
                break;
            case obtieneHora3 >= 18 && obtieneHora3 < 21 :
                $('#hecho_franja_h_tres').val('18:00 - 20:59');
                break;
            case obtieneHora3 >= 21 && obtieneHora3 <= 23 :
                $('#hecho_franja_h_tres').val('21:00 - 23:59');
                break;
            default:
                $('#hecho_franja_h_tres').val('Sin determinar');
        }
 
             
            });
        });

</script>

<script>{#  CUANDO DESHABILITO LOS CAMPOS GUARDA NULL
    $(document).ready(function () {
            $('#hecho_coinc_lug_ocu').change(function () {
                coincide = $('#hecho_coinc_lug_ocu').val(); //el formato de fecha es aaaa-mm-dd
                console.log(coincide);
               if (coincide = 'Si' ) {
                    $("#hecho_fecha_hgo").attr("disabled", "disabled")
                    $("#hecho_hora_hgo_minute").attr("disabled", "disabled")
                    $("#hecho_hora_hgo_hour").attr("disabled", "disabled")
                    $("#hecho_dia_hgo").attr("disabled", "disabled")
                    $("#hecho_barrio_hgo").attr("disabled", "disabled")
                    $("#hecho_calle_hgo").attr("disabled", "disabled")
                    $("#hecho_altura_hgo").attr("disabled", "disabled")
                    $("#hecho_intersec_hgo").attr("disabled", "disabled")
                    $("#hecho_calle_int_hgo").attr("disabled", "disabled")
                    $("#hecho_rep_geo_hgo").attr("disabled", "disabled")
                    $("#hecho_latitud_hgo").attr("disabled", "disabled")
                    $("#hecho_longitud_hgo").attr("disabled", "disabled")
                    $("#hecho_lug_hgo_otro").attr("disabled", "disabled")
                    $("#hecho_acceso_hgo").attr("disabled", "disabled")
                    $("#hecho_dom_part_hgo_otro").attr("disabled", "disabled")
                    $("#hecho_fraccion_hgo").attr("disabled", "disabled")
                    $("#hecho_radio_hgo").attr("disabled", "disabled")
                    $("#hecho_zona_hgo").attr("disabled", "disabled")
                    $("#hecho_tipo_esp_hgo").attr("disabled", "disabled")
                    $("#hecho_tipo_lug_hgo").attr("disabled", "disabled")
                    $("#hecho_lugar_hgo").attr("disabled", "disabled")
                    $("#hecho_dom_part_hgo").attr("disabled", "disabled")
                  
                    } else {
                    greeting = "Good evening";
                    }
            
             
            });
        });#}
</script>
 {% endblock %}
 

 {% block footer %}

  <footer class="py-4 bg-dark">
           <div class="container px-5"><p class="sm-5 text-center text-white">Centro de Analisis Chaco - {{ "now"|date("Y") }}</p></div>
        </footer>
 {% endblock %}