{% extends 'base.html.twig' %}

{% block title %}CondicionActividad{% endblock %}

{% block body %}
    <h1>CondicionActividad</h1>
        <div class="container">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for condicion_actividad in condicion_actividads %}
            <tr>
                <td>{{ condicion_actividad.id }}</td>
                <td>{{ condicion_actividad.descripcion }}</td>
                <td>
                    <a href="{{ path('condicion_actividad_show', {'id': condicion_actividad.id}) }}">show</a>
                    <a href="{{ path('condicion_actividad_edit', {'id': condicion_actividad.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('condicion_actividad_new') }}">Create new</a>
{% endblock %}
