{% extends 'base.html.twig' %}

{% block title %}TipoLugar{% endblock %}

{% block body %}
    <h1>TipoLugar</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipo_lugar.id }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ tipo_lugar.descripcion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tipo_lugar_index') }}">back to list</a>

    <a href="{{ path('tipo_lugar_edit', {'id': tipo_lugar.id}) }}">edit</a>

    {{ include('tipo_lugar/_delete_form.html.twig') }}
{% endblock %}
