{% extends 'base.html.twig' %}

{% block title %}MecanismoMuerte{% endblock %}

{% block body %}
    <h1>MecanismoMuerte</h1>
        <div class="container">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mecanismo_muerte in mecanismo_muertes %}
            <tr>
                <td>{{ mecanismo_muerte.id }}</td>
                <td>{{ mecanismo_muerte.descripcion }}</td>
                <td>
                    <a href="{{ path('mecanismo_muerte_show', {'id': mecanismo_muerte.id}) }}">show</a>
                    <a href="{{ path('mecanismo_muerte_edit', {'id': mecanismo_muerte.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('mecanismo_muerte_new') }}">Create new</a>
{% endblock %}
