{% extends 'base.html.twig' %}

{% block title %}DetalleHecho index{% endblock %}

{% block body %}
    <h1>DetalleHecho index</h1>

    <table class="table">
        <thead>
            <tr>
         
                <th>Id</th>
                <th>Id del Hecho</th>
                <th>victima</th>
                <th>pres_autor</th>
                 <th>den_previaden_prev_desc</th>
                 <th>den_prev_desc</th>
                 <th>vinculo</th>
                 <th>vinculo_fam_vic</th>
                 <th>vinculo_fam_otro</th>
                 <th>vinc_no_fam_otro_vic</th>
                <th>vinc_no_fam_otro_vic</th>
               <th>conviviente</th>
                <th>Situación proc durante hecho</th>
                 <th>Comp durante hecho</th>
                  <th>comport durante hecho otro</th>
                   <th>Est intox</th>
                      <th>Tipo est intox</th>
                         <th>Tipo est intox otro</th>
                <th>accion</th>
           
            </tr>
        </thead>
        <tbody>
        {% for detalle_hecho in detalle_hechos %}
            <tr>
               
                 <td>{{ detalle_hecho.id }}</td>
                 <td> {{detalle_hecho.hecho.id}} </td>
                 
                  <td>{{ detalle_hecho.victima }}</td>
                  <td>{{ detalle_hecho.pres_autor}}</td>
         
                  <td>{{ detalle_hecho.denPrevia }}</td>
                  <th>{{detalle_hecho.den_prev_desc}}</th>

                  <td>{{ detalle_hecho.vinculo}}</td>
                  <td>{{ detalle_hecho.vinculo_fam_vic}}</td>
                  <td>{{ detalle_hecho.vinculo_fam_otro}}</td>
                  <td>{{ detalle_hecho.vinc_no_fam_otro_vic}}</td>
                  <td>{{ detalle_hecho.conviviente}}</td>
                  <td>{{ detalle_hecho.est_intox}}</td>
                  <td>{{ detalle_hecho.tipo_e_intox}}</td>
                  <td>{{ detalle_hecho.est_intox_otro}}</td>
                  <td>{{ detalle_hecho.sit_procesal}}</td>
                  <td>{{ detalle_hecho.comp_hecho}}</td>
                  <td>{{ detalle_hecho.comp_hecho_otro}}</td>

           
              
                <td>
                    <a href="{{ path('detalle_hecho_show', {'id': detalle_hecho.id}) }}">show</a>
                    <a href="{{ path('detalle_hecho_edit', {'id': detalle_hecho.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('detalle_hecho_new') }}">Create new</a>
{% endblock %}

 {% block footer %}{{ parent() }}

 
 {% endblock %}