{% extends 'base.html.twig' %}

{% block title %}PresAutor{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-info">Presunto Autor</h1>

    <table class="table table-hover">
        <tbody>
            <tr>
                <th class="">Id</th>
                <td>{{ pres_autor.id }}</td>
            </tr>
            <tr>
                <th class="">Nombre</th>
                <td>{{ pres_autor.nombre }}</td>
            </tr>
            <tr>
                <th class="">Apellido</th>
                <td>{{ pres_autor.apellido }}</td>
            </tr>
            <tr>
                <th class="">Documento_nro</th>
                <td>{{ pres_autor.documentoNro }}</td>
            </tr>
            <tr>
                <th class="">Genero_otro</th>
                <td>{{ pres_autor.generoOtro }}</td>
            </tr>
            <tr>
                <th class="">Edad</th>
                <td>{{ pres_autor.edad }}</td>
            </tr>
            <tr>
                <th class="">EdadLegal</th>
                <td>{{ pres_autor.edadLegal }}</td>
            </tr>
            <tr>
                <th class="">Barrio</th>
                <td>{{ pres_autor.barrio }}</td>
            </tr>
            <tr>
                <th class="">Calle</th>
                <td>{{ pres_autor.calle }}</td>
            </tr>
            <tr>
                <th class="">Altura</th>
                <td>{{ pres_autor.altura }}</td>
            </tr>
            <tr>
                <th class="">Interseccion</th>
                <td>{{ pres_autor.interseccion }}</td>
            </tr>
            <tr>
                <th class="">Calle_interseccion</th>
                <td>{{ pres_autor.calleInterseccion }}</td>
            </tr>
            <tr>
                <th class="">Latitud</th>
                <td>{{ pres_autor.latitud }}</td>
            </tr>
            <tr>
                <th class="">Longitud</th>
                <td>{{ pres_autor.longitud }}</td>
            </tr>
            <tr>
                <th class="">Fraccion</th>
                <td>{{ pres_autor.fraccion }}</td>
            </tr>
            <tr>
                <th class="">Radio</th>
                <td>{{ pres_autor.radio }}</td>
            </tr>
  
            <tr>
                <th class="">Reincidente</th>
                <td>{{ pres_autor.reincidente }}</td>
            </tr>
            <tr>
                <th class="">Nacionalidad_otro</th>
                <td>{{ pres_autor.nacionalidadOtro }}</td>
            </tr>
            <tr>
                <th class="">Ant_penal_den</th>
                <td>{{ pres_autor.antPenalDen }}</td>
            </tr>
            <tr>
                <th class="">Especif_ant</th>
                <td>{{ pres_autor.especifAnt }}</td>
            </tr>
            <tr>
                <th class="">sitLaboral</th>
                <td>{{ pres_autor.sitLab }}</td>
            </tr>
            <tr>
                <th class="">Otra_sit_lab</th>
                <td>{{ pres_autor.otraSitLab }}</td>
            </tr>
            <tr>
                <th class="">Fuerza_seg</th>
                <td>{{ pres_autor.fuerzaSeg }}</td>
            </tr>
            <tr>
                <th class="">Otra_fuer_seg_pert</th>
                <td>{{ pres_autor.otraFuerSegPert }}</td>
            </tr>
            <tr>
                <th class="">Ejer_func</th>
                <td>{{ pres_autor.ejerFunc }}</td>
            </tr>
           
           
    
            <tr>
                <th >Observacion</th>
                <td>{{ pres_autor.observacion }}</td>
            </tr>
        </tbody>
    </table>






<div class"caja">
    <a href="{{ path('pres_autor_index') }}">back to list</a>

    <a href="{{ path('pres_autor_edit', {'id': pres_autor.id}) }}">edit</a>
    <br>
</div>



	<div class="container">
		
        <h1 class="text-info" ><p class="text-center" >Información del Hecho</p></h1>
       <table class="table">
         <thead  style="background-color:#d3ecec">
             <tr>
                 
                <td>Lugar</td>
                <td>Denuncia previa</td>
                <td>IdHecho</td>
                <td>NroPreventivo</td>
                <td>Mes</td>
                <td>Año</td>
                <td>Accion</td>
              

            </tr>
        </thead>
        <tbody>
            {% for detallehecho in detallehechos %}
            <tr>
                <td>{{ detallehecho.hecho.lugarOcu }}</td>
                <td>{{ detallehecho.denPrevia }}</td>
                <td>{{ detallehecho.hecho.id }}</td>
                <td>{{ detallehecho.hecho.nroPreventivo }}</td>
                <td>{{ detallehecho.hecho.mes }}</td>
                <td>{{ detallehecho.hecho.anio }}</td>
               
                <td>
                    <a href="{{ path('hecho_show', { 'id': detallehecho.hecho.id } ) }}"
                        alt="Ver almacen {{ detallehecho.hecho.nroPreventivo }}"
                        class="btn btn-info btn-ms">
                    <span class="glyphicon glyphicon-eye-open"></span>&nbsp;Ver</a>
                </td>
            </tr>
                {% else %}
            <tr>
                  <td colspan="3">no records found</td>
             </tr>
            {% endfor %}
        </tbody>

    </table>
</div>






</div>




    {{ include('pres_autor/_delete_form.html.twig') }}
{% endblock %}
